* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.form__main {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  /* background-color: rgb(245, 245, 245); */
  padding: 60px 50px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

  border-radius: 10px;
}
main {
  background: linear-gradient(rgba(31, 21, 180, 0.6), rgba(172, 24, 140, 0.2)),
    url(./assets/Img/pexels-julius-silver-753626.jpg);
  /* background: url(./assets/Img/pexels-julius-silver-753626.jpg); */

  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-position: left;
}

.services {
  color: white !important;
  /* color: rgb(53, 71, 230); */
  font-weight: bold;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 17px;
}

.room_reservation_text {
  text-decoration: underline;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  /* color: rgb(53, 71, 230); */
  color: white;
  margin-bottom: 50px;
}
.submit_btn {
  /* background-color: rgb(11, 26, 162); */
  background-color: rgb(53, 71, 230);
  color: white;
  margin-top: 40px;
  padding: 8px 15px;
}
.submit_btn:hover {
  background-color: red;
  color: white;
  /* border: 2px solid rgb(11, 26, 162);
  ba
  color: rgb(11, 26, 162); */
}
.inin {
  font-weight: bold;
}

header {
  color: #ffffff;
  min-height: 70px;
  background: linear-gradient(45deg, #00ccdf 0, #4d0ce8 100%);
  /* background-color: rgb(53, 71, 230); */
  border-bottom: 2px solid red;
}
.input__container {
  display: flex;
  flex-direction: column;
}
.row__container {
  margin-top: 25px;
}

.required_field {
  color: red;
}
.img_index {
  width: 50px;
  margin-left: 10px;
  /* position: relative;
  right: 10px; */
}
.input__text {
  width: 60px;
  margin-left: 10px;
}
label {
  font-size: 14px;
  color: white !important;
  /* color: rgb(97, 97, 97); */
}
input::placeholder {
  font-size: 14px;
}
.input__text::placeholder {
  font-size: 12px;
}

.errorMsg {
  color: red;
  position: relative;
  padding-left: 5px;
  font-size: 14px;
}
.input-element {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-element-state {
  padding: 0.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
footer {
  text-align: center;
  padding: 30px 20px 20px 20px;
  background: linear-gradient(45deg, #00ccdf 0, #4d0ce8 100%);
  border-top: 2px solid red;
  color: white;
}
footer > h3 {
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: underline; */
}
.contact {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-top: 15px;
}
.same > span {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Merienda One", cursive; */
}
.same > a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}
.conf__agenda {
  color: white;
}
@media (max-width: 765px) {
  .form__main {
    width: 90%;
  }
  .room_reservation_text {
    font-size: 20px;
  }
  footer > h3 {
    font-size: 18px;
  }
  .contact {
    font-family: "Merienda One", cursive;
    font-size: 18px;
    margin-top: 15px;
  }
  .row__container {
    margin-top: 0px;
  }
  .input__container {
    margin-top: 20px;
  }
  .services {
    font-weight: bold;

    text-decoration: underline;
    padding-top: 30px;
    font-size: 15px;
  }
  .room_reservation_text {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
